.App {
  text-align: center;
}

.header {
  background-color: gray;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
}
.headerItem {
  width: 100%;
  color: black
}


a:link {
  color: black;
  text-decoration: none;
  padding: 100;

}

/* mouse over link */
.headerItem:hover {
  color: gray;
  background-color: black;
}

.scheduleMarker {
  background-color: black;
  width: 33%
}

.predictorMarker {
  background-color: black;
  width: 33%;
  margin: auto;
}

.rankingsMarker {
  background-color: black;
  width: 33%;
  margin-left: auto;
}

.App {
  text-align: center;
}

.teamLogo{
  width: 100%;
}

.date {
  text-align: center;
}

.scores{
  display: flex;
  flex-direction: column;
  width: 60%;
  margin: auto;
}

.score{
  display: flex;
  padding-bottom:3em;
}

.logoDiv {
  flex: 1;
  margin: auto
}

.scoreDetails {
  flex: 1;
  flex-grow: 3;
  text-align: center;
}

.scoreDetailsRow {
  display: flex;
  justify-content: space-around;
}

.bottomButtons {
  text-align: center;
}

.bottomButton {

  text-align: center;
  padding: 10px;
  justify-content: center;
}

.predictor {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.predictorStats {
  width: 30%;
}

.selector {
  width: 30%;
}

.selections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.selection {
  width: 20%;
  padding: .1em;
}

/* HIDE RADIO */
[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

.away {
  color: #666
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 5px solid rgb(61, 0, 202);
  background-color: lightblue;
}

.selectorLabel {
}

.predictorChart {
  width: 100%;
  margin: auto;
}

table {
  margin: auto;
}

th, td {
  display: table-cell;
  vertical-align: inherit;
  font-weight: bold;
  text-align: center;
}

.tableImg {
  width: 50%
}

.rankingsTable {

}